.logo-container{
    height: 100px;
    width: 100vw;
    background-color: #fa9919;
    padding: 10px;
    display: flex;  
    /* justify-content: space-evenly; */
    /* text-align: center; */
    /* align-content: center   ; */
    padding-left: 33%;
}
img{
    height: 100%;
    width: auto;
}
h1{
    margin: 22px;
    font-size: 40px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 40px;
    margin-right: 40px;

}